# MongoDB Connection String (dari MongoDB Atlas)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/user-management?retryWrites=true&w=majority

# Port untuk development
PORT=3000

# Environment
NODE_ENV=development 